/* Metro stuff */
  .metro-style {
    font-family: 'Segoe UI', Arial, sans-serif;
  }

  /* Navigation */
  .metro-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .metro-nav li {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .metro-nav li a {
    display: block;
    padding: 10px;
    transition: all 0.1s;
  }

  .metro-nav.metro-nav-vertical li {
    display: block;
  }


  /* Lists */
  .metro-list {
    list-style: square inside;
    padding-left: 20px;
  }
  .metro-list li {
    padding: 8px 12px;  
  }
  .metro-list li:hover {
    background: rgba(0,0,0,0.15);
  }

  .metro-list.metro-list-horizontal li {
    float: left; margin-left: 0px; padding: 15px 10px;
  }


  /* Pricing Table */
  .metro-pricing-table {
    float: left;
    display: block;
  }
.metro-pricing-table tr,
.metro-pricing-table td,
.metro-pricing-table tbody { width: 100%; display: block; }
  .metro-pricing-pricerow {
    border-top: 1px solid rgba(0,0,0,0.25);
  }





/* User Style */
.metro-nav {
  background: #9c3;
  width: 80%;
  margin: 20px auto;
}
.metro-nav li {
  margin: 0px;
}
.metro-nav li a {
  color: #590;
  text-decoration: none;
  padding: 20px 25px;
  margin: 0;
}
.metro-nav li a:hover,
.metro-nav li a.active {
  color: #250;
  background: #8b3;
}

.metro-nav.metro-nav-vertical {
  width: 200px;
}

.metro-style h1 {
  font-family: 'Segoe UI Light';
  color: #bbb;
  font-size: 21px;
  width: 80%;
  margin: 10px auto;
}

.metro-list,
.metro-list-horizontal {
  background: #39e;
  color: #fff;
}

.metro-list-horizontal:after {
  content: '.';
  display: block;
  clear: both;
  height: 0px;
}


.metro-pricing-table {
  width: 30.3%;
  padding: 3% 1.5%;
  background: #39e;
  color: #fff;
  display: block;
}

.metro-pricing-title {
  font-size: 20px;
  display: block;
  text-align: center;
}

.metro-pricing-table li {
  list-style: none;
}

.metro-pricing-table .metro-pricing-pricerow td {
  padding: 20px 0;
  text-align: center;
}

.metro-pricing-price {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  position: relative;
}
.metro-pricing-price span {
  font-size: 14px;
  color: rgba(0,0,0,0.25);
  position: absolute;
  width: 90px;
  text-align: left;
  padding-left: 5px;
}